
/dataset
DLF_PL/DLF_winter_2024_lab_1_intro.ipynb
DLF_PL/DLF_winter_2024_lab_2_torch_basics.ipynb
DLF_PL/DLF_winter_2024_lab_3_torch_architectures.ipynb
DLF_PL/DLF_winter_2024_lab_4_convolutional_neural_networks.ipynb
/data_Cifar10
